In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [4]:
df = pd.read_csv('housing_data.csv',usecols=['GarageQual','FireplaceQu','SalePrice'])

In [6]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [7]:
X = df.drop(columns=['SalePrice'])  # Features
y = df['SalePrice']                 # Target

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [8]:
imputer = SimpleImputer(strategy='constant',fill_value='Missing')

In [9]:
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

In [10]:
imputer.statistics_

array(['Missing', 'Missing'], dtype=object)

In [11]:
X_train = pd.DataFrame(X_train, columns=['GarageQual','FireplaceQu'])

In [12]:
X_train

     GarageQual FireplaceQu
0       Missing          TA
1            TA          TA
2       Missing     Missing
3            TA          TA
4            Gd          TA
...         ...         ...
1163         Gd          TA
1164         TA          TA
1165    Missing          TA
1166         Gd          TA
1167         TA          TA

[1168 rows x 2 columns]

In [13]:
X_train.isnull().sum()

GarageQual     0
FireplaceQu    0
dtype: int64